<% include partials/header %>
<div class="container">
    <main>
      <header>
        <h1>About</h1>
      </header>
      <P><b>Explorers Synergy</b> is a platform for finding and building local communities. Use our site to meet new people, learn new things, find support, get out of their comfort zones, and pursue their passions, together.
      </P>
    </main>
  </div>
<% include partials/footer %>
