<% include partials/header %>
<div class="container">
    <main>
      <header>
        <h1>Contact Us</h1>
      </header>
      <p><b>Email Us At </b>:  explorerskingdom@help.com</p>
      <p><b>Ring Us on </b>: +1 9848022338</p>
      <p>We are at your service 24/7. Hassle free customer care.</p>
    </main>
  </div>
<%include partials/footer %>
