<% include partials/header %>
  <div class="container">
      <main>
        <header>
          <h1>Welcome to Explorer's Synergy!</h1>
           <P>Choose an existing group or start your own!</P>
           <p>Attend local events to meet people, try something new, or do more of what you love.</p>
        </header>
        <p></p>
      </main>
    </div>
<% include partials/footer %>
